MONGODB_URI="enter-your-mongodb-uri"
PORT="enter-your-port"
# run this cmd to generate randow string node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" then use it for secret key
SECRET="enter-your-secret-key"

